body {
 color:black;
 background: green;
}
h1 {
font-size: 3em;
background: #1C2FA5;
color: white;
}

h2 {
font-size: 2em;
border-style: solid;
border-width: 0.5em 0em 0em 1em;
border-color: #1C2FA5;
}

p {
font-size:1.5em;
}